services:
    fpm:
        build: docker/php
        container_name: php-fpm
        volumes:
            - ./:/app
        networks:
            - xiag-test
    db:
        image: postgres:latest
        restart: always
        container_name: db
        ports:
            - "${DB_EXTERNAL_PORT}:5432"
        volumes:
            - ./docker/data/db:/var/lib/postgresql/data
        environment:
            POSTGRES_USER: ${DB_USER}
            POSTGRES_PASSWORD: ${DB_PASSWORD}
            POSTGRES_DB: ${DB_NAME}
        networks:
            - xiag-test
    nginx:
        build: docker/nginx
        container_name: nginx
        depends_on:
            - fpm
        volumes:
            - ./:/app
            - ./docker/nginx/vhosts/rest.conf:/etc/nginx/sites-enabled/default
        ports:
            - "8010:80"
        networks:
            - xiag-test
    swagger:
        container_name: xiag-swagger
        image: swaggerapi/swagger-ui
        environment:
            API_URL: http://127.0.0.1:8010/docs.api.yaml
        networks:
            - xiag-test

networks:
    xiag-test:
        driver: bridge
